@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>AspNetCore.Identity.Elastic</h1>
    <p class="lead">This demo was created to show the features of the <a href="https://www.elastic.co/products/elasticsearch">Elasticsearch</a> 
        data store adaptor for <a href="https://github.com/aspnet/Identity">ASP.NET Core Identity</a>.</p>
</div>

